@font-face {
  font-family: 'IvarDisplayCondensed-Regular';
  src: url('~/assets/fonts/IvarDisplayCondensed-Regular.woff2') format('woff2'),
       url('~/assets/fonts/IvarDisplayCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}