/* purgecss start ignore */
@use './fonts';
@use './typography';
@use 'floating-vue/dist/style.css';

body{
  background: rgb(var(--color-dark));
}

main{
  background: rgb(var(--color-white));
  overflow: hidden;
}

hr{
  border-bottom: 1px solid rgb(var(--color-stroke));
}

.w-100{
  width: 100% !important;
}

.position-relative{
  position: relative !important;
}

.v-popper--theme-tooltip .v-popper__inner {
  background: rgb(var(--color-gold)) !important;
  color: black !important;
  padding: 8px !important;
  border-radius: 6px;
  border: 1px solid rgb(var(--color-gold)) !important;
  box-shadow: 0 6px 30px rgba(0, 0, 0, .1);
  @include fsz(14px);
}

.v-popper--theme-tooltip .v-popper__arrow-inner {
  visibility: visible;
  border-color: rgb(var(--color-gold)) !important;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: rgb(var(--color-gold)) !important;
}

.two-columns {
  column-count: 2;
  column-gap: 98px;
  orphans: 3;
  widows: 3;
  @include respond-to(sm){
    column-count: 1;
  }
  p{
    break-inside: avoid-column;
  }
}

/* purgecss end ignore */
